<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout" value="%date %-5level - %message%newline" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="Info" />
				<param name="LevelMax" value="Error" />
			</filter>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs/" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<staticLogFileName value="false" />
			<datePattern value="yyyyMMddHH'.log'" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="2MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="Info" />
				<param name="LevelMax" value="Error" />
			</filter>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>